body,
html {
  height: 100vh;
  width: 100%;
}
.navbar {
  width: 98%;
  height: 170px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-menu li a {
  display: inline-block;
  color: rgb(255, 250, 250);
  opacity: 0.6;
  text-decoration: none;
  padding: 3px;
  transition: all 0.07s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.colback {
  margin-left: 30px;
  margin-right: 200px;
  margin-top: 13px;
  padding: 10px 50px;
  background-color: rgb(251, 180, 2);
  border-radius: 0px;
  color: #fff;
  text-decoration: none;
}
.colback:hover {
  transform: scale(1.04);
}

.navbar-brand {
  margin-left: 165px;
}

.cart {
  margin-bottom: 15px;
  padding-left: 30px;
}
.lin {
  padding-left: 20px;
}
.phone {
  padding-bottom: 30px;
  margin-left: 30px;
}

header {
  background-image: url(/img/hero.png);
  width: 100%;
  height: 100vh;
}
.h-1 {
  color: rgb(255, 94, 35);
  text-transform: uppercase;
}
/*
section {
    position: absolute;
    box-shadow: 1px 1px 40px;
    width: 100%;
    background-color: #fff;
    
  }*/

.container-1 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 50%;
  top: 100px;
  left: 300px;
}

h1 {
  padding-top: 360px;
  padding-left: 199px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.orenge-text {
  color: orange;
}
p {
  padding: 10px;
  width: 300px;
  
  top: 50px;
  
  padding-left: 200px;
}

.container-2 {
  
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 30vh;
  background-position: 100% 100%;
  background-repeat: no-repeat;
 
  background-image: url(/img/food.png);
  margin-left: 700px;
  padding-bottom: 180px;
  
}
.imgs {
  width: 30%;
  height: 30vh;
  position: absolute;
}
.kitchen {
  width: 170px;
  padding-top: 100px;
  
}
.ceke {
  width: 180px;
  height: 250px;
  padding-left: 200px;
  
}





